In [141]:
import pandas as pd
from sqlalchemy import create_engine

In [134]:
from src.utils.Utils import load_csv
from src.utils.ConversionUtils import convert_weight_unit, convert_length_unit

In [135]:
df_anthro = load_csv("../data/combine/ANTHRO_FEAT.csv")
df_anthro.columns = ['SEASON', 'PLAYER', 'POS', 'BODY_FAT_PR', 'HAND_LENGTH_CM',
                     'HAND_WIDTH_CM', 'HEIGHT_CM', 'HEIGHT_SHOES_CM',
                     'STANDING_REACH_CM', 'WEIGHT_KG', 'WINGSPAN_CM']
df_anthro.replace("-", pd.NA, inplace=True)
df_anthro["BODY_FAT_PR"] = pd.to_numeric(
    df_anthro["BODY_FAT_PR"].replace(r'^\s*-%\s*$', pd.NA, regex=True).str.replace('%', '', regex=False))
df_anthro["HAND_LENGTH_CM"] = pd.to_numeric(
    df_anthro["HAND_LENGTH_CM"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_anthro["HAND_WIDTH_CM"] = pd.to_numeric(
    df_anthro["HAND_WIDTH_CM"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_anthro["HEIGHT_CM"] = pd.to_numeric(
    df_anthro["HEIGHT_CM"].apply(convert_length_unit, input_mode="ft_inch", output_mode="cm"))
df_anthro["HEIGHT_SHOES_CM"] = pd.to_numeric(
    df_anthro["HEIGHT_SHOES_CM"].apply(convert_length_unit, input_mode="ft_inch", output_mode="cm"))
df_anthro["STANDING_REACH_CM"] = pd.to_numeric(
    df_anthro["STANDING_REACH_CM"].apply(convert_length_unit, input_mode="ft_inch", output_mode="cm"))
df_anthro["WEIGHT_KG"] = pd.to_numeric(
    df_anthro["WEIGHT_KG"].apply(convert_weight_unit, input_mode="lbs", output_mode="kg"))
df_anthro["WINGSPAN_CM"] = pd.to_numeric(
    df_anthro["WINGSPAN_CM"].apply(convert_length_unit, input_mode="ft_inch", output_mode="cm"))

df_anthro

,SEASON,PLAYER,POS,BODY_FAT_PR,HAND_LENGTH_CM,HAND_WIDTH_CM,HEIGHT_CM,HEIGHT_SHOES_CM,STANDING_REACH_CM,WEIGHT_KG,WINGSPAN_CM
0,2020-21,Zeke Nnaji,PF-C,5.90,22.860,26.670,206.375,209.55,267.97,111.946506,218.440
1,2020-21,Yoeli Childs,PF,8.20,22.225,25.400,198.120,200.66,269.24,102.693229,212.090
2,2020-21,Xavier Tillman Sr.,PF-C,8.50,26.035,27.940,201.930,204.47,269.24,120.882268,218.440
3,2020-21,Udoka Azubuike,C,9.61,23.495,25.400,208.280,212.09,276.86,117.707124,231.775
4,2020-21,Tyrell Terry,PG,7.60,19.050,20.955,186.690,190.50,243.84,77.110640,187.325
...,...,...,...,...,...,...,...,...,...,...,...
1390,2000-01,Schea Cotton,SF,NaN,NaN,NaN,193.675,NaN,254.00,99.563444,200.660
1391,2000-01,Shaheen Holloway,PG,NaN,NaN,NaN,176.530,NaN,231.14,78.925008,177.800
1392,2000-01,Speedy Claxton,PG,NaN,NaN,NaN,179.070,NaN,240.03,75.296272,182.880
1393,2000-01,Terrance Roberson,SF,NaN,NaN,NaN,196.850,NaN,262.89,94.800728,203.200
1394,2000-01,Vassil Evtimov,PF,NaN,NaN,NaN,207.645,NaN,270.51,118.841104,209.550

In [136]:
df_physical = load_csv("../data/combine/PHYSICAL_FEAT.csv")
df_physical.columns = ['SEASON', 'PLAYER', 'POS', 'LANE_AGILITY_TIME_S',
                       'SHUTTLE_RUN_S', 'THREE_QUARTER_SPRINT_S',
                       'STANDING_VERT_LEAP_CM', 'MAX_VERTICAL_LEAP_CM',
                       'MAX_BENCH_PRESS_REPS']
df_physical.replace("-", pd.NA, inplace=True)

df_physical["LANE_AGILITY_TIME_S"] = pd.to_numeric(
    df_physical["LANE_AGILITY_TIME_S"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_physical["SHUTTLE_RUN_S"] = pd.to_numeric(
    df_physical["SHUTTLE_RUN_S"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_physical["THREE_QUARTER_SPRINT_S"] = pd.to_numeric(
    df_physical["THREE_QUARTER_SPRINT_S"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_physical["STANDING_VERT_LEAP_CM"] = pd.to_numeric(
    df_physical["STANDING_VERT_LEAP_CM"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_physical["MAX_VERTICAL_LEAP_CM"] = pd.to_numeric(
    df_physical["MAX_VERTICAL_LEAP_CM"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
df_physical["MAX_BENCH_PRESS_REPS"] = pd.to_numeric(
    df_physical["MAX_BENCH_PRESS_REPS"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))

df_physical

,SEASON,PLAYER,POS,LANE_AGILITY_TIME_S,SHUTTLE_RUN_S,THREE_QUARTER_SPRINT_S,STANDING_VERT_LEAP_CM,MAX_VERTICAL_LEAP_CM,MAX_BENCH_PRESS_REPS
0,2020-21,Precious Achiuwa,PF,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-21,Ty-Shon Alexander,SG,28.7782,6.2738,8.2804,71.12,83.82,NaN
2,2020-21,Udoka Azubuike,C,30.0228,9.1694,8.2042,93.98,104.14,NaN
3,2020-21,Tyler Bey,PF,28.8290,6.9850,8.0518,93.98,110.49,NaN
4,2020-21,Yoeli Childs,PF,27.6098,6.1468,8.1788,86.36,97.79,NaN
...,...,...,...,...,...,...,...,...,...
1390,2000-01,Jabari Smith,PF-C,31.6230,NaN,8.7122,62.23,76.20,38.10
1391,2000-01,Jarrett Stephens,PF,30.4292,NaN,8.7884,68.58,73.66,33.02
1392,2000-01,Bootsy Thornton,SG,30.6832,NaN,8.4582,67.31,78.74,17.78
1393,2000-01,Jaquay Walls,PG,27.3050,NaN,8.2042,72.39,90.17,0.00
1394,2000-01,Jameel Watkins,PF-C,31.4452,NaN,8.7630,71.12,77.47,27.94

In [137]:
history = load_csv("../data/combine/HISTORY.csv")
history.columns = history.columns.str.upper()
history

,PLAYER,TEAM,AFFILIATION,YEAR,ROUND NUMBER,ROUND PICK,OVERALL PICK
0,Anthony Edwards,Minnesota Timberwolves,Georgia,2020,1,1,1
1,James Wiseman,Golden State Warriors,Memphis,2020,1,2,2
2,LaMelo Ball,Charlotte Hornets,Illawarra (Australia),2020,1,3,3
3,Patrick Williams,Chicago Bulls,Florida State,2020,1,4,4
4,Isaac Okoro,Cleveland Cavaliers,Auburn,2020,1,5,5
...,...,...,...,...,...,...,...
8078,Ron Livingston,New York Knicks,St. Mary's (CA),1947,0,0,0
8079,Dan Miller,New York Knicks,Saint Louis,1947,0,0,0
8080,Ben Schadler,Chicago Stags,Northwestern,1947,0,0,0
8081,Donald Smith,Chicago Stags,Minnesota,1947,0,0,0
8082,Ralph Bishop,Chicago Stags,Washington,1947,0,0,0

In [138]:
metrics = load_csv("../data/SCHEDULE_METRICS/SCHEDULE_METRICS.csv")
metrics.columns = ['SEASON', 'TEAM', 'OPPONENT', 'DATE', 'LOCATION', 'DISTANCE_KM',
                   'DISTANCE3_KM', 'DISTANCE5_KM', 'DISTANCE7_KM', 'DISTANCE9_KM', 'REST', 'ZONE',
                   'RESULT', 'G3', 'G5', 'G7', 'G9', 'G11', 'G13', 'G15', 'G17', 'G19',
                   'G21', 'SHIFT3', 'SHIFT5', 'SHIFT7', 'SHIFT9', 'STREAK', 'WIN_PCT',
                   'OPP_DISTANCE_KM', 'OPP_REST', 'OPP_ZONE', 'OPP_G3', 'OPP_G5', 'OPP_G7',
                   'OPP_G9', 'OPP_G11', 'OPP_G13', 'OPP_G15', 'OPP_G17', 'OPP_G19',
                   'OPP_G21', 'OPP_SHIFT3', 'OPP_SHIFT5', 'OPP_SHIFT7', 'OPP_SHIFT9',
                   'OPP_DISTANCE3_KM', 'OPP_DISTANCE5_KM', 'OPP_DISTANCE7_KM', 'OPP_DISTANCE9_KM',
                   'OPP_STREAK', 'OPP_WIN_PCT']
metrics["DATE"] = pd.to_datetime(metrics["DATE"], format="%m/%d/%Y")
metrics["DISTANCE_KM"] = pd.to_numeric(
    metrics["DISTANCE_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["DISTANCE3_KM"] = pd.to_numeric(
    metrics["DISTANCE3_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["DISTANCE5_KM"] = pd.to_numeric(
    metrics["DISTANCE5_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["DISTANCE7_KM"] = pd.to_numeric(
    metrics["DISTANCE7_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["DISTANCE9_KM"] = pd.to_numeric(
    metrics["DISTANCE9_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["OPP_DISTANCE_KM"] = pd.to_numeric(
    metrics["OPP_DISTANCE_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["OPP_DISTANCE3_KM"] = pd.to_numeric(
    metrics["OPP_DISTANCE3_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["OPP_DISTANCE5_KM"] = pd.to_numeric(
    metrics["OPP_DISTANCE5_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["OPP_DISTANCE7_KM"] = pd.to_numeric(
    metrics["OPP_DISTANCE7_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))
metrics["OPP_DISTANCE9_KM"] = pd.to_numeric(
    metrics["OPP_DISTANCE9_KM"].apply(convert_length_unit, input_mode="miles", output_mode="km"))

metrics

,SEASON,TEAM,OPPONENT,DATE,LOCATION,DISTANCE_KM,DISTANCE3_KM,DISTANCE5_KM,DISTANCE7_KM,DISTANCE9_KM,...,OPP_SHIFT3,OPP_SHIFT5,OPP_SHIFT7,OPP_SHIFT9,OPP_DISTANCE3_KM,OPP_DISTANCE5_KM,OPP_DISTANCE7_KM,OPP_DISTANCE9_KM,OPP_STREAK,OPP_WIN_PCT
0,1946-47,New York Knicks,Toronto Huskies,1946-11-01,1.0,556.83164,556.83164,556.83164,556.83164,556.83164,...,0.0,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00
1,1946-47,Toronto Huskies,New York Knicks,1946-11-01,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,556.83164,556.83164,556.83164,556.83164,0.0,1.00
2,1946-47,Boston Celtics,Providence Steamrollers,1946-11-02,1.0,65.98294,65.98294,65.98294,65.98294,65.98294,...,0.0,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,1.00
3,1946-47,Chicago Stags,New York Knicks,1946-11-02,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,...,1.0,1.0,1.0,1.0,1263.33190,1263.33190,1263.33190,1263.33190,1.0,0.50
4,1946-47,Detroit Falcons,Washington Capitols,1946-11-02,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,642.12666,642.12666,642.12666,642.12666,0.0,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132287,2020-21,Sacramento Kings,Utah Jazz,2021-05-16,0.0,2813.12632,2813.12632,5626.25264,5626.25264,5626.25264,...,2.0,3.0,4.0,4.0,3540.54800,4506.15200,5471.75600,5471.75600,8.0,0.71
132288,2020-21,San Antonio Spurs,Phoenix Suns,2021-05-16,0.0,0.00000,2549.19456,5098.38912,7861.62590,8643.76514,...,1.0,2.0,2.0,3.0,1363.11098,2412.40066,2957.96692,3546.98536,8.0,0.71
132289,2020-21,Toronto Raptors,Indiana Pacers,2021-05-16,0.0,1470.93676,2758.40876,4372.57678,4372.57678,4372.57678,...,0.0,0.0,0.0,0.0,1358.28296,1358.28296,2201.57712,2201.57712,9.0,0.47
132290,2020-21,Utah Jazz,Sacramento Kings,2021-05-16,1.0,2150.07824,3540.54800,4506.15200,5471.75600,5471.75600,...,1.0,2.0,2.0,2.0,2813.12632,5626.25264,5626.25264,5626.25264,8.0,0.41
132291,2020-21,Washington Wizards,Charlotte Hornets,2021-05-16,0.0,0.00000,875.48096,875.48096,1562.66914,2920.95210,...,0.0,0.0,0.0,0.0,1186.08358,1186.08358,1186.08358,1186.08358,9.0,0.48

In [139]:
shots = load_csv("../data/tracking/shots/shots_fixed.csv")
shots.columns = shots.columns.str.strip().str.upper().str.replace(" ", "_")
shots.columns = ['ACTION_TYPE', 'EVENTTIME', 'EVENT_TYPE', 'GAME_DATE', 'GAME_EVENT_ID',
                 'GAME_ID', 'GRID_TYPE', 'HTM', 'LOC_X_CM', 'LOC_Y_CM', 'MINUTES_REMAINING',
                 'PERIOD', 'PLAYER_ID', 'PLAYER_NAME', 'QUARTER', 'SECONDS_REMAINING',
                 'SHOT_ATTEMPTED_FLAG', 'SHOT_DISTANCE_CM', 'SHOT_MADE_FLAG', 'SHOT_TIME',
                 'SHOT_TYPE', 'SHOT_ZONE_AREA', 'SHOT_ZONE_BASIC', 'SHOT_ZONE_RANGE',
                 'TEAM_ID', 'TEAM_NAME', 'VTM']
shots["GAME_DATE"] = pd.to_datetime(shots["GAME_DATE"], format="%Y%m%d")
shots["LOC_X_CM"] = pd.to_numeric(shots["LOC_X_CM"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
shots["LOC_Y_CM"] = pd.to_numeric(shots["LOC_Y_CM"].apply(convert_length_unit, input_mode="inch", output_mode="cm"))
shots["SHOT_DISTANCE_CM"] = pd.to_numeric(
    shots["SHOT_DISTANCE_CM"].apply(convert_length_unit, input_mode="ft", output_mode="cm"))
shots

,ACTION_TYPE,EVENTTIME,EVENT_TYPE,GAME_DATE,GAME_EVENT_ID,GAME_ID,GRID_TYPE,HTM,LOC_X_CM,LOC_Y_CM,...,SHOT_DISTANCE_CM,SHOT_MADE_FLAG,SHOT_TIME,SHOT_TYPE,SHOT_ZONE_AREA,SHOT_ZONE_BASIC,SHOT_ZONE_RANGE,TEAM_ID,TEAM_NAME,VTM
0,Jump Shot,215,Missed Shot,2015-12-23,93,21500435,Shot Chart Detail,LAL,-60.915550,399.025872,...,457.20,0,218.50,2PT Field Goal,Center(C),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,OKC
1,Dunk Shot,191,Made Shot,2015-12-23,97,21500435,Shot Chart Detail,LAL,569.778134,63.414148,...,0.00,1,204.83,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,OKC
2,Jump Shot,518,Made Shot,2015-12-23,164,21500435,Shot Chart Detail,LAL,-13.746988,439.572654,...,487.68,1,520.65,2PT Field Goal,Center(C),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,OKC
3,Jump Shot,120,Missed Shot,2015-12-23,382,21500435,Shot Chart Detail,LAL,-65.875154,403.242780,...,457.20,0,123.26,2PT Field Goal,Center(C),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,OKC
4,Jump Shot,646,Made Shot,2015-12-23,14,21500435,Shot Chart Detail,LAL,452.970900,51.234848,...,457.20,1,650.49,2PT Field Goal,Right Side(R),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,OKC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84462,Driving Layup Shot,32,Made Shot,2015-12-16,109,21500377,Shot Chart Detail,CHI,183.477154,498.647466,...,30.48,1,18.10,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612741,Chicago Bulls,MEM
84463,Jump Shot,564,Missed Shot,2015-12-16,16,21500377,Shot Chart Detail,CHI,-468.448644,35.682936,...,548.64,0,567.02,2PT Field Goal,Left Side(L),Mid-Range,16-24 ft.,1610612763,Memphis Grizzlies,MEM
84464,Jump Shot,538,Missed Shot,2015-12-16,19,21500377,Shot Chart Detail,CHI,258.008628,393.111736,...,548.64,0,541.59,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612763,Memphis Grizzlies,MEM
84465,Jump Shot,486,Made Shot,2015-12-16,29,21500377,Shot Chart Detail,CHI,-234.591606,119.090948,...,335.28,1,489.03,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612763,Memphis Grizzlies,MEM
84466,Jump Shot,457,Made Shot,2015-12-16,31,21500377,Shot Chart Detail,CHI,524.021304,112.125760,...,548.64,1,451.37,2PT Field Goal,Center(C),Mid-Range,16-24 ft.,1610612763,Memphis Grizzlies,MEM

In [140]:
events = load_csv("../data/tracking/events/**/*.csv", encoding="us-ascii", wildcard=True)
events

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION
0,21500626,0,12,0,1,8:11 PM,12:00,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,21500626,1,10,0,1,8:11 PM,12:00,Jump Ball Davis vs. Towns: Tip to Garnett,NaN,NaN,...,Minnesota,Timberwolves,MIN,5,708,Kevin Garnett,1.610613e+09,Minnesota,Timberwolves,MIN
2,21500626,2,1,1,1,8:11 PM,11:40,NaN,NaN,Garnett 20' Jump Shot (2 PTS) (Rubio 1 AST),...,Minnesota,Timberwolves,MIN,0,0,NaN,NaN,NaN,NaN,NaN
3,21500626,4,1,42,1,8:11 PM,11:24,Davis 2' Driving Layup (2 PTS) (Gordon 1 AST),NaN,NaN,...,New Orleans,Pelicans,NOP,0,0,NaN,NaN,NaN,NaN,NaN
4,21500626,5,1,1,1,8:12 PM,11:10,NaN,NaN,Towns 24' 3PT Jump Shot (3 PTS) (Garnett 1 AST),...,Minnesota,Timberwolves,MIN,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,21500429,595,2,1,4,10:30 PM,0:09,MISS Horford 19' Jump Shot,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
499,21500429,596,4,0,4,10:30 PM,0:08,NaN,NaN,Jackson REBOUND (Off:1 Def:4),...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
500,21500429,597,1,1,4,10:30 PM,0:00,NaN,NaN,Marc Morris 24' 3PT Jump Shot (22 PTS) (Jackso...,...,Detroit,Pistons,DET,0,0,NaN,NaN,NaN,NaN,NaN
501,21500429,598,18,0,4,10:30 PM,0:00,NaN,NaN,NaN,...,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN
502,21500429,599,13,0,4,10:30 PM,0:00,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN

In [143]:
db_url = 'postgresql+psycopg2://user:admin@localhost:5432/nba_stats'
engine = create_engine(db_url)
dfs = [df_anthro, df_physical, history, metrics, shots, events]
table_names = ['ANTHRO_FEAT', 'PHYSICAL_FEAT', 'HISTORY', 'SCHEDULE_METRICS', 'SHOTS', 'EVENTS']
for df, name in zip(dfs, table_names):
    df.to_sql(name, engine, if_exists='replace', index=False)
    print(f"Table '{name}' imported successfully!")

Table 'ANTHRO_FEAT' imported successfully!
Table 'PHYSICAL_FEAT' imported successfully!
Table 'HISTORY' imported successfully!
Table 'SCHEDULE_METRICS' imported successfully!
Table 'SHOTS' imported successfully!
Table 'EVENTS' imported successfully!