In [3]:
import os
import numpy as np
import pandas as pd

# import parquet file from ../datasets/processed/
master_data = pd.read_parquet('../datasets/processed/master_data.parquet')
master_data_dropped = pd.read_parquet('../datasets/processed/master_data_dropped.parquet')
master_data_imputed = pd.read_parquet('../datasets/processed/master_data_imputed.parquet')

In [5]:
master_data_dropped

,GAME_ID,GAME_DATE,SEASON,QUARTER,TIME_LEFT_S,HOME_TEAM,AWAY_TEAM,TEAM_ID,TEAM_NAME,PLAYER_ID,...,LANE_AGILITY_TIME_S,THREE_QUARTER_SPRINT_S,MAX_VERTICAL_LEAP_CM,STANDING_VERTICAL_LEAP_CM,POS_PG,POS_SG,POS_SF,POS_PF,POS_C,MADE_SHOT
0,20801219,2009-04-15,2009,5,20,CLE,PHI,1610612739,CLE,200814,...,10.670000,3.300000,90.170000,73.6600,False,True,True,False,False,True
1,20801229,2009-04-15,2009,4,126,PHX,GSW,1610612744,GSW,201576,...,11.860000,3.260000,88.900000,73.6600,False,False,True,True,False,False
2,20801229,2009-04-15,2009,4,154,PHX,GSW,1610612744,GSW,201576,...,11.860000,3.260000,88.900000,73.6600,False,False,True,True,False,False
3,20801219,2009-04-15,2009,5,72,CLE,PHI,1610612755,PHI,2738,...,11.170000,3.180000,87.630000,77.4700,False,True,True,False,False,True
4,20801223,2009-04-15,2009,5,2,MIA,DET,1610612765,DET,101198,...,11.120000,3.000000,102.870000,83.8200,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594569,21400001,2014-10-28,2015,1,691,NOP,ORL,1610612753,ORL,202696,...,12.020000,3.270000,63.500000,59.6900,False,False,False,True,True,True
2594570,21400003,2014-10-28,2015,1,683,LAL,HOU,1610612745,HOU,2730,...,11.210000,3.140000,90.170000,77.4700,False,False,False,True,True,True
2594571,21400002,2014-10-28,2015,1,692,SAS,DAL,1610612742,DAL,2199,...,12.130000,3.360000,85.090000,78.7400,False,False,True,True,False,False
2594572,21400001,2014-10-28,2015,1,703,NOP,ORL,1610612740,NOP,203076,...,11.397226,3.275092,87.752228,74.2174,False,False,False,True,True,False
2594573,21400003,2014-10-28,2015,1,700,LAL,HOU,1610612747,LAL,2430,...,10.770000,3.310000,72.390000,67.3100,False,False,False,True,False,False